body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Logo */
.web-logo {
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.studio-logo {
color: #2E2F42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

/* Navigations elements */
.navigation {
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
color: #2E2F42;
}

.navigation:active{
    color:#404BBF;
}

/* Adress */
address li a {
font-size: 16px;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
color: #434455;
}

.mailto:active {
    color:#404BBF;
}

/* Section-1 */
.solutions-unit {
    background-color: #2E2F42;
}

.solutions-header {
font-size: 56px;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
color: #FFF;
}

.solutions-button {
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
color: #FFF;
letter-spacing: 0.64px;
border-radius: 4px;
background:#4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.solutions-button:hover {
    background-color:#404BBF;
}